<!doctype html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <!--<![endif]-->

  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body class="body header-fixed">
    <%- include('../components/preload.ejs') %>

    <div id="wrapper">
      <div id="page" class="pt-40">
        <%- include('../partials/header') %>

        <div class="flat-title-page">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-12">
                <h1 class="heading text-center">Explore Product</h1>
                <ul class="breadcrumbs flex justify-center">
                  <li class="icon-keyboard_arrow_right">
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/explore">Explore</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="tf-section-5 artwork loadmore-12-item-1">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-md-3">
                <div class="widget-category-checkbox style-1 mb-30">
                  <h5 class="active">Status</h5>
                  <div class="content-wg-category-checkbox">
                    <form action="#">
                      <label
                        >Buy now
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >On auction
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >New
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >Featured
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                    </form>
                  </div>
                </div>
                <div class="widget-category-checkbox style-1 mb-30">
                  <h5 class="active">Collection</h5>
                  <div class="content-wg-category-checkbox">
                    <form action="#">
                      <label
                        >Digital Art
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >Gaming
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >Gaming
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >Music
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >Photography
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >Typo
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >Crypto
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                    </form>
                  </div>
                </div>
                <div class="widget-category-checkbox style-1 mb-30">
                  <h5 class="active">Filter by price</h5>
                  <div class="content-wg-category-checkbox">
                    <form action="#">
                      <label
                        >$0 - $100
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >$100 - $200
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >$200 - $300
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >$300 - $400
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >$400 - $500
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >$500 - $600
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                      <label
                        >Over $600
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                    </form>
                  </div>
                </div>
                <div class="widget-category-checkbox style-1 mb-30">
                  <h5 class="active">Chains</h5>
                  <div class="content-wg-category-checkbox">
                    <form action="#">
                      <label
                        >Bitcoin
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />

                      <label
                        >Ethereum
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />

                      <label
                        >Cardano
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />

                      <label
                        >Solana
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />

                      <label
                        >Litecoin
                        <input type="checkbox" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                    </form>
                  </div>
                </div>
                <div class="widget-category-checkbox style-1">
                  <h5 class="active">Ratings</h5>
                  <div class="content-wg-category-checkbox">
                    <form action="#">
                      <label
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i>
                        <input type="radio" name="rating" />
                        <span class="btn-checkbox"></span> </label
                      ><br />

                      <label
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star"></i> &amp; Up
                        <input type="radio" name="rating" />
                        <span class="btn-checkbox"></span> </label
                      ><br />

                      <label
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star"></i
                        ><i class="icon-star"></i> &amp; Up
                        <input type="radio" name="rating" />
                        <span class="btn-checkbox"></span> </label
                      ><br />

                      <label
                        ><i class="icon-star active"></i
                        ><i class="icon-star active"></i
                        ><i class="icon-star"></i><i class="icon-star"></i
                        ><i class="icon-star"></i> &amp; Up
                        <input type="radio" name="rating" />
                        <span class="btn-checkbox"></span> </label
                      ><br />

                      <label
                        ><i class="icon-star active"></i
                        ><i class="icon-star"></i><i class="icon-star"></i
                        ><i class="icon-star"></i
                        ><i class="icon-star"></i> &amp; Up
                        <input type="radio" name="rating" />
                        <span class="btn-checkbox"></span> </label
                      ><br />
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div
                    data-wow-delay="0s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-49.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0.1s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-50.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0.2s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-51.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-52.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0.1s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-53.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0.2s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-54.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-55.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0.1s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-56.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0.2s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-57.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-58.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0.1s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-59.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    data-wow-delay="0.2s"
                    class="wow fadeInUp fl-item-1 col-lg-4 col-md-6"
                  >
                    <div class="tf-card-box style-4">
                      <div class="author flex items-center">
                        <div class="avatar">
                          <img
                            src="assets/images/avatar/avatar-box-02.jpg"
                            alt="Image"
                          />
                        </div>
                        <div class="info">
                          <span>Created by:</span>
                          <h6><a href="author-2.html">Marvin McKinney</a></h6>
                        </div>
                      </div>
                      <div class="card-media">
                        <a href="#">
                          <img
                            src="assets/images/box-item/card-item-60.jpg"
                            alt=""
                          />
                        </a>
                        <span class="wishlist-button icon-heart"></span>
                        <div class="featured-countdown">
                          <span
                            class="js-countdown"
                            data-timer="7500"
                            data-labels="d,h,m,s"
                          ></span>
                        </div>
                      </div>
                      <h5 class="name">
                        <a href="nft-detail-2.html">Dayco serpentine belt</a>
                      </h5>
                      <div class="meta-info flex items-center justify-between">
                        <div>
                          <span class="text-bid">Current Bid</span>
                          <h6 class="price gem">
                            <i class="icon-gem"></i>0,34
                          </h6>
                        </div>
                        <div class="button-place-bid">
                          <a
                            href="#"
                            data-toggle="modal"
                            data-target="#popup_bid"
                            class="tf-button"
                            ><span>Place Bid</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 load-more">
                    <a href="#" id="loadmore" class="tf-button-loadmore">
                      <span>Load More</span>
                      <i class="icon-loading-1"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/footer') %>
      </div>
    </div>

    <%- include('../components/progress-wrap.ejs') %><br />
    <%- include('../partials/foot.ejs') %>
  </body>
</html>
