<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body class="body dashboard1">
  <%- include('../components/preload.ejs') %>
    
  <div id="wrapper">
    <div id="page" class="market-page">
      <div id="market-header">
          <div class="market-header flex items-center justify-between">
              <div class="widget-search">
                  <form action="#" method="get" role="search" class="search-form relative">
                      <input type="search" id="search" class="search-field style-1" placeholder="Search artwork, collection..." value="" name="s" title="Search for" required="">
                      <button class="search search-submit" type="submit" title="Search">
                          <i class="icon-search"></i>
                      </button>
                  </form>
              </div>
              <div class="admin_active" id="header_admin">
                  <div class="popup-notification relative">
                      <div class="notification">
                          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18.8476C17.6392 18.8476 20.2481 18.1242 20.5 15.2205C20.5 12.3188 18.6812 12.5054 18.6812 8.94511C18.6812 6.16414 16.0452 3 12 3C7.95477 3 5.31885 6.16414 5.31885 8.94511C5.31885 12.5054 3.5 12.3188 3.5 15.2205C3.75295 18.1352 6.36177 18.8476 12 18.8476Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M14.3888 21.8574C13.0247 23.3721 10.8967 23.3901 9.51947 21.8574" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <circle cx="17" cy="5" r="4" fill="#DDF247" stroke="#1D1D1D" stroke-width="1.5"/>
                          </svg>
                      </div>
                      <div class="avatar_popup">
                          <h5 class="mb-30">Notification</h5>
                          <div class="widget-recently">
                              <div class="card-small">
                                  <div class="author">
                                      <img src="assets/images/blog/sidebar-06.jpg" alt="">
                                      <div class="info">
                                          <h6><a href="#">Propw</a></h6>
                                          <p><a href="#">@themes</a></p>
                                      </div>
                                  </div>
                                  <span class="date">Mon, 08 May </span>
                              </div>
                              <div class="card-small">
                                  <div class="author">
                                      <img src="assets/images/blog/sidebar-06.jpg" alt="">
                                      <div class="info">
                                          <h6><a href="#">Propw</a></h6>
                                          <p><a href="#">@themes</a></p>
                                      </div>
                                  </div>
                                  <span class="date">Mon, 08 May </span>
                              </div>
                              <div class="card-small">
                                  <div class="author">
                                      <img src="assets/images/blog/sidebar-06.jpg" alt="">
                                      <div class="info">
                                          <h6><a href="#">Propw</a></h6>
                                          <p><a href="#">@themes</a></p>
                                      </div>
                                  </div>
                                  <span class="date">Mon, 08 May </span>
                              </div>
                              <div class="card-small">
                                  <div class="author">
                                      <img src="assets/images/blog/sidebar-06.jpg" alt="">
                                      <div class="info">
                                          <h6><a href="#">Propw</a></h6>
                                          <p><a href="#">@themes</a></p>
                                      </div>
                                  </div>
                                  <span class="date">Mon, 08 May </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="popup-user relative">
                      <div class="user">
                          <img src="assets/images/avatar/avatar-small-09.png" alt="">
                          <span>Themesflat<i class="icon-keyboard_arrow_down"></i></span>
                      </div>
                      <div class="avatar_popup2">
                          <div class="">
                              <div class="links">
                                  <a class="block mb-30" href="#">
                                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M0.774902 18.333C0.774902 18.7932 1.14762 19.1664 1.60824 19.1664C2.06885 19.1664 2.44157 18.7932 2.44157 18.333C2.44157 15.3923 4.13448 12.7889 6.77329 11.5578C7.68653 12.1513 8.77296 12.4997 9.94076 12.4997C11.113 12.4997 12.2036 12.1489 13.119 11.5513C13.9067 11.9232 14.6368 12.4235 15.2443 13.0307C16.6611 14.4479 17.4416 16.3311 17.4416 18.333C17.4416 18.7932 17.8143 19.1664 18.2749 19.1664C18.7355 19.1664 19.1083 18.7932 19.1083 18.333C19.1083 15.8859 18.1545 13.5845 16.4227 11.8523C15.8432 11.2725 15.1698 10.7754 14.4472 10.3655C15.2757 9.3581 15.7741 8.06944 15.7741 6.66635C15.7741 3.44979 13.1569 0.833008 9.94076 0.833008C6.72461 0.833008 4.10742 3.44979 4.10742 6.66635C4.10742 8.06604 4.60379 9.35154 5.42863 10.3579C2.56796 11.9685 0.774902 14.9779 0.774902 18.333V18.333ZM9.94076 2.49968C12.2381 2.49968 14.1074 4.36898 14.1074 6.66635C14.1074 8.96371 12.2381 10.833 9.94076 10.833C7.6434 10.833 5.77409 8.96371 5.77409 6.66635C5.77409 4.36898 7.6434 2.49968 9.94076 2.49968V2.49968Z" fill="white"></path>
                                      </svg>
                                      <span>My Profile</span>
                                  </a>
                                  <a class="block mb-30" class="mt-10" href="profile.html">
                                      <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M17.1154 0.730469H2.88461C1.29402 0.730469 0 2.02449 0 3.61508V14.3843C0 15.9749 1.29402 17.2689 2.88461 17.2689H17.1154C18.706 17.2689 20 15.9749 20 14.3843V3.61508C20 2.02449 18.706 0.730469 17.1154 0.730469ZM18.7529 10.6035H14.6154C13.6611 10.6035 13 9.95407 13 8.99969C13 8.04532 13.661 7.34544 14.6154 7.34544H18.7529V10.6035ZM18.7529 6.11508H14.6154C13.0248 6.11508 11.7308 7.40911 11.7308 8.99969C11.7308 10.5903 13.0248 11.8843 14.6154 11.8843H18.7529V14.3843C18.7529 15.3386 18.0698 15.9996 17.1154 15.9996H2.88461C1.93027 15.9996 1.29231 15.3387 1.29231 14.3843V3.61508C1.29231 2.66074 1.93023 1.99963 2.88461 1.99963H17.1266C18.0809 1.99963 18.7529 2.6607 18.7529 3.61508V6.11508Z" fill="white"></path>
                                      </svg>
                                      <span>Wallet</span>
                                  </a>
                                  <a class="block" href="login.html" id="logout">
                                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M9.9668 18.3057H2.49168C2.0332 18.3057 1.66113 17.9335 1.66113 17.4751V2.52492C1.66113 2.06644 2.03324 1.69437 2.49168 1.69437H9.9668C10.4261 1.69437 10.7973 1.32312 10.7973 0.863828C10.7973 0.404531 10.4261 0.0332031 9.9668 0.0332031H2.49168C1.11793 0.0332031 0 1.15117 0 2.52492V17.4751C0 18.8488 1.11793 19.9668 2.49168 19.9668H9.9668C10.4261 19.9668 10.7973 19.5955 10.7973 19.1362C10.7973 18.6769 10.4261 18.3057 9.9668 18.3057Z" fill="white"></path>
                                          <path d="M19.7525 9.40904L14.7027 4.42564C14.3771 4.10337 13.8505 4.10755 13.5282 4.43396C13.206 4.76036 13.2093 5.28611 13.5366 5.60837L17.1454 9.16982H7.47508C7.01578 9.16982 6.64453 9.54107 6.64453 10.0004C6.64453 10.4597 7.01578 10.8309 7.47508 10.8309H17.1454L13.5366 14.3924C13.2093 14.7147 13.2068 15.2404 13.5282 15.5668C13.691 15.7313 13.9053 15.8143 14.1196 15.8143C14.3306 15.8143 14.5415 15.7346 14.7027 15.5751L19.7525 10.5917C19.9103 10.4356 20 10.2229 20 10.0003C20 9.77783 19.9111 9.56603 19.7525 9.40904Z" fill="white"></path>
                                      </svg>
                                      <span>Log out</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="btn-canvas active">
          <div class="canvas">
              <span></span>
          </div>
      </div>

      <div>
        <%- include('../components/dashboard/side-nav.ejs') %>
         
        <div class="content-tabs">
          <div id="wallet" class="tabcontent active">
                        <div class="wrapper-content">
                            <div class="inner-content">
                                <div class="action__body w-full mb-40">
                                    <div class="tf-tsparticles">
                                        <div id="tsparticles6" data-color="#161616" data-line="#000"></div>
                                    </div>
                                    <h2>Discover, create and sell your own NFT</h2>
                                    <div class="flat-button flex">
                                        <a href="#" class="tf-button style-2 h50 w190 mr-10">Explore now<i class="icon-arrow-up-right2"></i></a>
                                        <a href="#" class="tf-button style-2 h50 w230">Create your first NFT<i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="bg-home7">
                                        <div class="swiper-container autoslider3reverse" data-swiper='{
                                        "loop":true,
                                        "slidesPerView": "auto",
                                        "spaceBetween": 14,
                                        "direction": "vertical",
                                        "speed": 10000,
                                        "observer": true,
                                        "observeParents": true,
                                        "autoplay": {
                                            "delay": "0",
                                            "disableOnInteraction": false
                                        }
                                    }'>
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="assets/images/item-background/bg-action-1.png" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="assets/images/item-background/bg-action-1.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-container autoslider4reverse" data-swiper='{
                                        "loop":true,
                                        "slidesPerView": "auto",
                                        "spaceBetween": 14,
                                        "direction": "vertical",
                                        "speed": 10000,
                                        "observer": true,
                                        "observeParents": true,
                                        "autoplay": {
                                            "delay": "0",
                                            "disableOnInteraction": false,
                                            "reverseDirection": true
                                        }
                                    }'>
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="assets/images/item-background/bg-action-1.png" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="assets/images/item-background/bg-action-1.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-container autoslider3reverse" data-swiper='{
                                        "loop":true,
                                        "slidesPerView": "auto",
                                        "spaceBetween": 14,
                                        "direction": "vertical",
                                        "speed": 10000,
                                        "observer": true,
                                        "observeParents": true,
                                        "autoplay": {
                                            "delay": "0",
                                            "disableOnInteraction": false
                                        }
                                    }'>
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img src="assets/images/item-background/bg-action-1.png" alt="">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img src="assets/images/item-background/bg-action-1.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="heading-section">
                                    <h2 class="tf-title">Connect your wallet</h2>
                                </div>
                                <p>If you don't have a wallet, you can select a provider and create one now. <span class="tf-color button-connect-wallet">Learn more</span></p>
                                <div id="connect-wallet-grid">
                                    <div class="wrap-box-card">
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-01.png" alt="">
                                                <h6><a href="#">MetaMask</a></h6>
                                                <p>Throw myself down among the tall</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-02.png" alt="">
                                                <h6><a href="#">Coibase Wallet</a></h6>
                                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-03.png" alt="">
                                                <h6><a href="#">WalletConnect</a></h6>
                                                <p>Sed euismod ante et leo commodo, ac faucibus</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-04.png" alt="">
                                                <h6><a href="#">Ledger</a></h6>
                                                <p>Proin suscipit sem a nunc eleifend</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-05.png" alt="">
                                                <h6><a href="#">Phantom</a></h6>
                                                <p>Vestibulum malesuada tortor vel erat</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-06.png" alt="">
                                                <h6><a href="#">Bitkeep</a></h6>
                                                <p>Morbi vel eros sit amet quam viverra</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-07.png" alt="">
                                                <h6><a href="#">Core</a></h6>
                                                <p>Mauris nec orci ac urna luctus</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-08.png" alt="">
                                                <h6><a href="#">Glow</a></h6>
                                                <p>Pellentesque pretium felis vitae augue</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-09.png" alt="">
                                                <h6><a href="#">Fortmatic</a></h6>
                                                <p>Nunc eget eros at tellus euismod</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-10.png" alt="">
                                                <h6><a href="#">Kaikas</a></h6>
                                                <p>Aenean quis odio ultricies ex faucibus</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-11.png" alt="">
                                                <h6><a href="#">Bitski</a></h6>
                                                <p>Fusce sed felis non purus pellentesque</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-12.png" alt="">
                                                <h6><a href="#">Solflare</a></h6>
                                                <p>Donec in diam vulputate molestie</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-13.png" alt="">
                                                <h6><a href="#">OperaTouch</a></h6>
                                                <p>Morbi vehicula ante eget cursus posuere</p>
                                            </div>
                                        </div>
                                        <div class="col-item">
                                            <div class="box-wallet">
                                                <img src="assets/images/box-icon/wallet-14.png" alt="">
                                                <h6><a href="#">OperaTouch</a></h6>
                                                <p>Morbi vehicula ante eget cursus posuere</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="connect-wallet-list">
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-01.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Glow</a></h6>
                                            <p>Popular</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-02.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Coibase Wallet</a></h6>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-03.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">WalletConnect</a></h6>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-04.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Ledger</a></h6>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-05.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Phantom</a></h6>
                                            <p>Solana</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-06.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Bitkeep</a></h6>
                                            <p>BNB Chain</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-07.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Core</a></h6>
                                            <p>Avalanche</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-08.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Glow</a></h6>
                                            <p>Solana</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-09.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Fortmatic</a></h6>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-10.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Kaikas</a></h6>
                                            <p>Klaytn</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-11.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Bitski</a></h6>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-12.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">Solflare</a></h6>
                                            <p>Solana</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-13.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">OperaTouch</a></h6>
                                            <p>Mobile only</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                    <div class="box-wallet style-1">
                                        <img src="assets/images/box-icon/wallet-14.png" alt="">
                                        <div class="info">
                                            <h6><a href="#">OperaTouch</a></h6>
                                            <p>Mobile only</p>
                                        </div>
                                        <a href="#" class="tf-button style-3">Connect <i class="icon-arrow-up-right2"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="side-bar">
                                <div class="widget widget-recently">
                                    <h5 class="title-widget">Recently added</h5>
                                    <div class="card-small-main">
                                        <img src="assets/images/blog/sidebar-05.jpg" alt="">
                                        <div class="card-bottom">
                                            <h5><a href="#">Photography</a></h5>
                                            <span class="date">16hr ago</span>
                                        </div>
                                    </div>
                                    <div class="card-small">
                                        <div class="author">
                                            <img src="assets/images/blog/sidebar-06.jpg" alt="">
                                            <div class="info">
                                                <h6><a href="#">Propw</a></h6>
                                                <p><a href="#">@themes</a></p>
                                            </div>
                                        </div>
                                        <span class="date">Mon, 08 May </span>
                                    </div>
                                    <div class="card-small">
                                        <div class="author">
                                            <img src="assets/images/blog/sidebar-07.jpg" alt="">
                                            <div class="info">
                                                <h6><a href="#">Propw</a></h6>
                                                <p><a href="#">@themes</a></p>
                                            </div>
                                        </div>
                                        <span class="date">Mon, 08 May </span>
                                    </div>
                                    <div class="card-small">
                                        <div class="author">
                                            <img src="assets/images/blog/sidebar-08.jpg" alt="">
                                            <div class="info">
                                                <h6><a href="#">Propw</a></h6>
                                                <p><a href="#">@themes</a></p>
                                            </div>
                                        </div>
                                        <span class="date">Mon, 08 May </span>
                                    </div>
                                </div>
                                <div class="widget widget-creators">
                                    <div class="flex items-center justify-between">
                                        <h5 class="title-widget">Top Creators</h5>
                                        <a class="see-all" href="#">See all</a>
                                    </div>
                                    <div class="widget-creators-item flex items-center mb-20">
                                        <div class="order">1. </div>
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-01.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">Brooklyn Simmons</a></h6>
                                                <span><a href="#">@themes</a></span>
                                            </div>
                                        </div>
                                        <button class="follow">Follow</button>
                                    </div>
                                    <div class="widget-creators-item flex items-center mb-20">
                                        <div class="order">2. </div>
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-02.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">Brooklyn Simmons</a></h6>
                                                <span><a href="#">@themes</a></span>
                                            </div>
                                        </div>
                                        <button class="follow">Follow</button>
                                    </div>
                                    <div class="widget-creators-item flex items-center mb-20">
                                        <div class="order">3. </div>
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-03.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">Brooklyn Simmons</a></h6>
                                                <span><a href="#">@themes</a></span>
                                            </div>
                                        </div>
                                        <button class="follow">Follow</button>
                                    </div>
                                    <div class="widget-creators-item flex items-center mb-20">
                                        <div class="order">4. </div>
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-04.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">Brooklyn Simmons</a></h6>
                                                <span><a href="#">@themes</a></span>
                                            </div>
                                        </div>
                                        <button class="follow">Follow</button>
                                    </div>
                                    <div class="widget-creators-item flex items-center">
                                        <div class="order">5. </div>
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-01.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">Brooklyn Simmons</a></h6>
                                                <span><a href="#">@themes</a></span>
                                            </div>
                                        </div>
                                        <button class="follow">Follow</button>
                                    </div>
                                </div>
                                <div class="widget widget-coins">
                                    <h5 class="title-widget">Trending coins</h5>
                                    <div class="widget-coins-item flex items-center mb-20">
                                        <img src="assets/images/box-icon/coin-01.png" alt="">
                                        <p><a href="#">Bitcoin</a></p>
                                    </div>
                                    <div class="widget-coins-item flex items-center mb-20">
                                        <img src="assets/images/box-icon/coin-02.png" alt="">
                                        <p><a href="#">Ethereum</a></p>
                                    </div>
                                    <div class="widget-coins-item flex items-center mb-20">
                                        <img src="assets/images/box-icon/coin-03.png" alt="">
                                        <p><a href="#">Cardano</a></p>
                                    </div>
                                    <div class="widget-coins-item flex items-center mb-20">
                                        <img src="assets/images/box-icon/coin-04.png" alt="">
                                        <p><a href="#">Solana</a></p>
                                    </div>
                                    <div class="widget-coins-item flex items-center">
                                        <img src="assets/images/box-icon/coin-05.png" alt="">
                                        <p><a href="#">Litecoin</a></p>
                                    </div>
                                </div>
                                <div class="widget widget-history">
                                    <div class="flex items-center justify-between">
                                        <h5 class="title-widget">History</h5>
                                        <a class="see-all" href="#">See all</a>
                                    </div>
                                    <div class="widget-creators-item flex items-center mb-20">
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-01.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">Lorem NFT sold</a></h6>
                                                <span><a href="#">Sold at 1.32 ETH</a></span>
                                            </div>
                                        </div>
                                        <span class="time">Just now</span>
                                    </div>
                                    <div class="widget-creators-item flex items-center mb-20">
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-02.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">New NFT uploaded</a></h6>
                                                <span><a href="#">By Marisol Pena</a></span>
                                            </div>
                                        </div>
                                        <span class="time">1hr ago</span>
                                    </div>
                                    <div class="widget-creators-item flex items-center mb-20">
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-03.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">You followed a creator</a></h6>
                                                <span><a href="#">Jane Cooper</a></span>
                                            </div>
                                        </div>
                                        <span class="time">2hr ago</span>
                                    </div>
                                    <div class="widget-creators-item flex items-center mb-20">
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-04.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">You placed a bid</a></h6>
                                                <span><a href="#">Whirl wind NFT</a></span>
                                            </div>
                                        </div>
                                        <span class="time">4hr ago</span>
                                    </div>
                                    <div class="widget-creators-item flex items-center">
                                        <div class="author flex items-center flex-grow">
                                            <img src="assets/images/avatar/avatar-small-01.png" alt="">
                                            <div class="info">
                                                <h6><a href="#">You followed a creator</a></h6>
                                                <span><a href="#">Courtney Henry</a></span>
                                            </div>
                                        </div>
                                        <span class="time">16hr ago</span>
                                    </div>
                                </div>
                            </div>

                            <%- include('../components/dashboard/side-bar.ejs') %>
                        </div>
                    </div>
  <!-- /#wallet -->
        </div>
      </div>
    </div>
  </div>

  <%- include('../components/progress-wrap.ejs') %><br />
  <%- include('../partials/foot.ejs') %>
</body>

</html>
