<!doctype html>
<!--[if IE 8]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <!--<![endif]-->

  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body class="body">
    <%- include('./components/preload.ejs') %>

    <div id="wrapper">
      <div id="page" class="pt-40 home-1">
        <%- include('./partials/header') %>

        <div class="flat-pages-title">
          <div class="widget-bg-line">
            <div class="wraper">
              <div class="bg-grid-line y bottom">
                <div class="bg-line"></div>
              </div>
            </div>
          </div>
          <div class="themesflat-container w1490">
            <div class="row">
              <div class="col-12 pages-title">
                <div class="content">
                  <h1 data-wow-delay="0s" class="wow fadeInUp">
                    World of top works
                  </h1>
                  <p class="wow fadeInUp" data-wow-delay="0.1s">
                    Welcome to the world of rare digital art. Explore the best
                    art from hand-picked digital artist out there and find the
                    hidden gem.
                  </p>
                  <div
                    data-wow-delay="0.2s"
                    class="wow fadeInUp flat-button flex justify-center"
                  >
                    <a href="/explore" class="tf-button style-1 h50 w190 mr-16"
                      >Discover more <i class="icon-arrow-up-right2"></i
                    ></a>
                    <a href="/explore" class="tf-button style-1 h50 w190 active"
                      >All collections <i class="icon-arrow-up-right2"></i
                    ></a>
                  </div>
                </div>
                <div class="icon-background">
                  <img
                    class="absolute item1"
                    src="assets/images/item-background/item1.png"
                    alt=""
                  />
                  <img
                    class="absolute item2"
                    src="assets/images/item-background/item2.png"
                    alt=""
                  />
                  <img
                    class="absolute item3"
                    src="assets/images/item-background/item3.png"
                    alt=""
                  />
                  <img
                    class="absolute item4"
                    src="assets/images/item-background/item1.png"
                    alt=""
                  />
                  <img
                    class="absolute item5"
                    src="assets/images/item-background/item1.png"
                    alt=""
                  />
                  <img
                    class="absolute item6"
                    src="assets/images/item-background/item4.png"
                    alt=""
                  />
                  <img
                    class="absolute item7"
                    src="assets/images/item-background/item5.png"
                    alt=""
                  />
                  <img
                    class="absolute item8"
                    src="assets/images/item-background/item5.png"
                    alt=""
                  />
                </div>
                <div class="relative">
                  <div class="swiper swiper-3d-7">
                    <div class="swiper-wrapper">
                      <% featuredNFTs.forEach(nft => { %>
                        <div class="swiper-slide">
                          <div class="tf-card-box">
                            <div class="card-media">
                              <a href="<%= nft.url %>">
                                <img
                                  src="<%= nft.image %>"
                                  style="object-position: top center;"
                                />
                              </a>
                              <span class="wishlist-button icon-heart"></span>
                              <div class="featured-countdown">
                                <span
                                  class="js-countdown"
                                  data-timer="7500"
                                  data-labels="d,h,m,s"
                                ></span>
                              </div>
                              <div class="button-place-bid">
                                <a
                                  href="<%= nft.url %>"
                                  class="tf-button"
                                  ><span>Explore</span></a
                                >
                              </div>
                            </div>
                            <div class="meta-info text-center">
                              <h5 class="name">
                                <a href="<%= nft.url %>"><%= nft.name %></a>
                              </h5>
                              <h6 class="price gem">
                                <i class="icon-gem"></i><%= nft.price %>
                              </h6>
                            </div>
                          </div>
                        </div>
                      <% }); %>
                    </div>
                    <div class="swiper-pagination pagination-number"></div>
                  </div>
                  <div class="swiper-button-next next-3d over"></div>
                  <div class="swiper-button-prev prev-3d over"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tf-section featured-item style-bottom">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-md-12">
                <div class="heading-section pb-20">
                  <h2 class="tf-title">Trending NFTs</h2>
                  <a href="/explore">Discover more <i class="icon-arrow-right2"></i
                  ></a>
                </div>
              </div>
              <div class="col-md-12">
                <div
                  class="featured pt-10 swiper-container carousel"
                  data-swiper='{
                              "loop":false,
                              "slidesPerView": 1,
                              "observer": true,
                              "observeParents": true,
                              "spaceBetween": 30,
                              "navigation": {
                                  "clickable": true,
                                  "nextEl": ".slider-next",
                                  "prevEl": ".slider-prev"
                              },
                              "pagination": {
                                  "el": ".swiper-pagination",
                                  "clickable": true
                              },
                              "breakpoints": {
                                  "768": {
                                      "slidesPerView": 2,
                                      "spaceBetween": 30
                                  },
                                  "1024": {
                                      "slidesPerView": 3,
                                      "spaceBetween": 30
                                  },
                                  "1300": {
                                      "slidesPerView": 4,
                                      "spaceBetween": 30
                                  }
                              }
                          }'
                >
                  <div class="swiper-wrapper">
                    <% trendingNFTs.forEach(nft => { %>
                      <div class="swiper-slide">
                        <div class="tf-card-box style-1">
                          <div class="card-media">
                            <a href="<%= nft.url %>">
                              <img
                                src="<%= nft.image %>"
                                style="object-position: top center;"
                              />
                            </a>
                            <span class="wishlist-button icon-heart"></span>
                            <div class="featured-countdown">
                              <span
                                class="js-countdown"
                                data-timer="7500"
                                data-labels="d,h,m,s"
                              ></span>
                            </div>
                            <div class="button-place-bid">
                              <a
                                href="<%= nft.url %>"
                                class="tf-button"
                                ><span>Explore</span></a
                              >
                            </div>
                          </div>
                          <h5 class="name">
                            <a href="<%= nft.url %>"><%= nft.name %></a>
                          </h5>
                          <div class="author flex items-center">
                            <div class="avatar">
                              <img
                                src="<%= nft.author.avatar %>"
                                alt="Image"
                              />
                            </div>
                            <div class="info">
                              <span>Created by:</span>
                              <h6><a href="<%= nft.author.url %>"><%= nft.author.name %></a></h6>
                            </div>
                          </div>
                          <div class="divider"></div>
                          <div
                            class="meta-info flex items-center justify-between"
                          >
                            <span class="text-bid">Current Bid</span>
                            <h6 class="price gem">
                              <i class="icon-gem"></i><%= nft.price %>
                            </h6>
                          </div>
                        </div>
                      </div>
                    <% }); %>
                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="slider-next swiper-button-next"></div>
                  <div class="slider-prev swiper-button-prev"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tf-section seller">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-md-12">
                <div class="heading-section">
                  <h2 class="tf-title pb-30">
                    Top seller in
                    <span class="dropdown" id="select-day">
                      <span class="btn-selector tf-color">
                        <span>1 day</span>
                      </span>
                      <ul>
                        <li><span>1 day</span></li>
                        <li><span>3 day</span></li>
                        <li><span>7 day</span></li>
                      </ul>
                    </span>
                  </h2>
                </div>
              </div>
              <div class="col-md-12">
                <div
                  class="swiper-container seller seller-slider2"
                  data-swiper='{
                              "loop":false,
                              "slidesPerView": 2,
                              "observer": true,
                              "grabCursor": true,
                              "observeParents": true,
                              "spaceBetween": 30,
                              "navigation": {
                                  "clickable": true,
                                  "nextEl": ".seller-next",
                                  "prevEl": ".seller-prev"
                              },
                              "breakpoints": {
                                  "500": {
                                      "slidesPerView": 3
                                  },
                                  "640": {
                                      "slidesPerView": 4
                                  },
                                  "768": {
                                      "slidesPerView": 5
                                  },
                                  "1070": {
                                      "slidesPerView": 6
                                  }
                              }
                          }'
                >
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="tf-author-box text-center">
                        <div class="author-avatar">
                          <img
                            src="assets/images/avatar/avatar-01.png"
                            alt=""
                            class="avatar"
                          />
                          <div class="number">1</div>
                        </div>
                        <div class="author-infor">
                          <h5><a href="author-2.html">Courtney Henry</a></h5>
                          <h6 class="price gem style-1">
                            <i class="icon-gem"></i>7,080.95
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tf-author-box text-center">
                        <div class="author-avatar">
                          <img
                            src="assets/images/avatar/avatar-02.png"
                            alt=""
                            class="avatar"
                          />
                          <div class="number">2</div>
                        </div>
                        <div class="author-infor">
                          <h5><a href="author-2.html">Robertson</a></h5>
                          <h6 class="price gem style-1">
                            <i class="icon-gem"></i>7,080.95
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tf-author-box text-center">
                        <div class="author-avatar">
                          <img
                            src="assets/images/avatar/avatar-03.png"
                            alt=""
                            class="avatar"
                          />
                          <div class="number">3</div>
                        </div>
                        <div class="author-infor">
                          <h5><a href="author-2.html">Midjourney NFTs</a></h5>
                          <h6 class="price gem style-1">
                            <i class="icon-gem"></i>7,080.95
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tf-author-box text-center">
                        <div class="author-avatar">
                          <img
                            src="assets/images/avatar/avatar-04.png"
                            alt=""
                            class="avatar"
                          />
                          <div class="number">4</div>
                        </div>
                        <div class="author-infor">
                          <h5><a href="author-2.html">Kristin Watson</a></h5>
                          <h6 class="price gem style-1">
                            <i class="icon-gem"></i>7,080.95
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tf-author-box text-center">
                        <div class="author-avatar">
                          <img
                            src="assets/images/avatar/avatar-05.png"
                            alt=""
                            class="avatar"
                          />
                          <div class="number">5</div>
                        </div>
                        <div class="author-infor">
                          <h5><a href="author-2.html">Dianne Russell</a></h5>
                          <h6 class="price gem style-1">
                            <i class="icon-gem"></i>7,080.95
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tf-author-box text-center">
                        <div class="author-avatar">
                          <img
                            src="assets/images/avatar/avatar-06.png"
                            alt=""
                            class="avatar"
                          />
                          <div class="number">6</div>
                        </div>
                        <div class="author-infor">
                          <h5><a href="author-2.html">Jenny Wilson</a></h5>
                          <h6 class="price gem style-1">
                            <i class="icon-gem"></i>7,080.95
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tf-author-box text-center">
                        <div class="author-avatar">
                          <img
                            src="assets/images/avatar/avatar-02.png"
                            alt=""
                            class="avatar"
                          />
                          <div class="number">7</div>
                        </div>
                        <div class="author-infor">
                          <h5><a href="author-2.html">Courtney Henry</a></h5>
                          <h6 class="price gem style-1">
                            <i class="icon-gem"></i>7,080.95
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="tf-author-box text-center">
                        <div class="author-avatar">
                          <img
                            src="assets/images/avatar/avatar-01.png"
                            alt=""
                            class="avatar"
                          />
                          <div class="number">8</div>
                        </div>
                        <div class="author-infor">
                          <h5><a href="author-2.html">Courtney Henry</a></h5>
                          <h6 class="price gem style-1">
                            <i class="icon-gem"></i>7,080.95
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-next seller-next over active"></div>
                <div class="swiper-button-prev seller-prev over"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="tf-section-3 discover-item">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-md-12">
                <div class="heading-section pb-30">
                  <h2 class="tf-title">Discover item</h2>
                  <a href="explore-3.html" class=""
                    >Discover more <i class="icon-arrow-right2"></i
                  ></a>
                </div>
              </div>
              <div
                data-wow-delay="0s"
                class="wow fadeInUp col-xl-3 col-lg-4 col-md-6 col-sm-6"
              >
                <div class="tf-card-box style-1">
                  <div class="card-media">
                    <a href="#">
                      <img
                        src="assets/images/box-item/card-item-05.jpg"
                        alt=""
                      />
                    </a>
                    <span class="wishlist-button icon-heart"></span>
                    <div class="featured-countdown">
                      <span
                        class="js-countdown"
                        data-timer="7500"
                        data-labels="d,h,m,s"
                      ></span>
                    </div>
                    <div class="button-place-bid">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#popup_bid"
                        class="tf-button"
                        ><span>Place Bid</span></a
                      >
                    </div>
                  </div>
                  <h5 class="name">
                    <a href="nft-detail-2.html">Dayco serpentine belt</a>
                  </h5>
                  <div class="author flex items-center">
                    <div class="avatar">
                      <img
                        src="assets/images/avatar/avatar-box-01.jpg"
                        alt="Image"
                      />
                    </div>
                    <div class="info">
                      <span>Posted by:</span>
                      <h6><a href="author-2.html">Cody Fisher</a></h6>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="meta-info flex items-center justify-between">
                    <span class="text-bid">Current Bid</span>
                    <h6 class="price gem"><i class="icon-gem"></i>0,34</h6>
                  </div>
                </div>
              </div>
              <div
                data-wow-delay="0.1s"
                class="wow fadeInUp col-xl-3 col-lg-4 col-md-6 col-sm-6"
              >
                <div class="tf-card-box style-1">
                  <div class="card-media">
                    <a href="#">
                      <img
                        src="assets/images/box-item/card-item-06.jpg"
                        alt=""
                      />
                    </a>
                    <span class="wishlist-button icon-heart"></span>
                    <div class="featured-countdown">
                      <span
                        class="js-countdown"
                        data-timer="7500"
                        data-labels="d,h,m,s"
                      ></span>
                    </div>
                    <div class="button-place-bid">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#popup_bid"
                        class="tf-button"
                        ><span>Place Bid</span></a
                      >
                    </div>
                  </div>
                  <h5 class="name">
                    <a href="nft-detail-2.html">Dayco serpentine belt</a>
                  </h5>
                  <div class="author flex items-center">
                    <div class="avatar">
                      <img
                        src="assets/images/avatar/avatar-box-02.jpg"
                        alt="Image"
                      />
                    </div>
                    <div class="info">
                      <span>Posted by:</span>
                      <h6><a href="author-2.html">Cody Fisher</a></h6>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="meta-info flex items-center justify-between">
                    <span class="text-bid">Current Bid</span>
                    <h6 class="price gem"><i class="icon-gem"></i>0,34</h6>
                  </div>
                </div>
              </div>
              <div
                data-wow-delay="0.2s"
                class="wow fadeInUp col-xl-3 col-lg-4 col-md-6 col-sm-6"
              >
                <div class="tf-card-box style-1">
                  <div class="card-media">
                    <a href="#">
                      <img
                        src="assets/images/box-item/card-item-07.jpg"
                        alt=""
                      />
                    </a>
                    <span class="wishlist-button icon-heart"></span>
                    <div class="featured-countdown">
                      <span
                        class="js-countdown"
                        data-timer="7500"
                        data-labels="d,h,m,s"
                      ></span>
                    </div>
                    <div class="button-place-bid">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#popup_bid"
                        class="tf-button"
                        ><span>Place Bid</span></a
                      >
                    </div>
                  </div>
                  <h5 class="name">
                    <a href="nft-detail-2.html">Dayco serpentine belt</a>
                  </h5>
                  <div class="author flex items-center">
                    <div class="avatar">
                      <img
                        src="assets/images/avatar/avatar-box-03.jpg"
                        alt="Image"
                      />
                    </div>
                    <div class="info">
                      <span>Posted by:</span>
                      <h6><a href="author-2.html">Cody Fisher</a></h6>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="meta-info flex items-center justify-between">
                    <span class="text-bid">Current Bid</span>
                    <h6 class="price gem"><i class="icon-gem"></i>0,34</h6>
                  </div>
                </div>
              </div>
              <div
                data-wow-delay="0.3s"
                class="wow fadeInUp col-xl-3 col-lg-4 col-md-6 col-sm-6"
              >
                <div class="tf-card-box style-1">
                  <div class="card-media">
                    <a href="#">
                      <img
                        src="assets/images/box-item/card-item-08.jpg"
                        alt=""
                      />
                    </a>
                    <span class="wishlist-button icon-heart"></span>
                    <div class="featured-countdown">
                      <span
                        class="js-countdown"
                        data-timer="7500"
                        data-labels="d,h,m,s"
                      ></span>
                    </div>
                    <div class="button-place-bid">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#popup_bid"
                        class="tf-button"
                        ><span>Place Bid</span></a
                      >
                    </div>
                  </div>
                  <h5 class="name">
                    <a href="nft-detail-2.html">Dayco serpentine belt</a>
                  </h5>
                  <div class="author flex items-center">
                    <div class="avatar">
                      <img
                        src="assets/images/avatar/avatar-box-04.jpg"
                        alt="Image"
                      />
                    </div>
                    <div class="info">
                      <span>Posted by:</span>
                      <h6><a href="author-2.html">Cody Fisher</a></h6>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="meta-info flex items-center justify-between">
                    <span class="text-bid">Current Bid</span>
                    <h6 class="price gem"><i class="icon-gem"></i>0,34</h6>
                  </div>
                </div>
              </div>
              <div
                data-wow-delay="0s"
                class="wow fadeInUp col-xl-3 col-lg-4 col-md-6 col-sm-6"
              >
                <div class="tf-card-box style-1">
                  <div class="card-media">
                    <a href="#">
                      <img
                        src="assets/images/box-item/card-item-01.jpg"
                        alt=""
                      />
                    </a>
                    <span class="wishlist-button icon-heart"></span>
                    <div class="featured-countdown">
                      <span
                        class="js-countdown"
                        data-timer="7500"
                        data-labels="d,h,m,s"
                      ></span>
                    </div>
                    <div class="button-place-bid">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#popup_bid"
                        class="tf-button"
                        ><span>Place Bid</span></a
                      >
                    </div>
                  </div>
                  <h5 class="name">
                    <a href="nft-detail-2.html">Dayco serpentine belt</a>
                  </h5>
                  <div class="author flex items-center">
                    <div class="avatar">
                      <img
                        src="assets/images/avatar/avatar-box-05.jpg"
                        alt="Image"
                      />
                    </div>
                    <div class="info">
                      <span>Posted by:</span>
                      <h6><a href="author-2.html">Cody Fisher</a></h6>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="meta-info flex items-center justify-between">
                    <span class="text-bid">Current Bid</span>
                    <h6 class="price gem"><i class="icon-gem"></i>0,34</h6>
                  </div>
                </div>
              </div>
              <div
                data-wow-delay="0.1s"
                class="wow fadeInUp col-xl-3 col-lg-4 col-md-6 col-sm-6"
              >
                <div class="tf-card-box style-1">
                  <div class="card-media">
                    <a href="#">
                      <img
                        src="assets/images/box-item/card-item-02.jpg"
                        alt=""
                      />
                    </a>
                    <span class="wishlist-button icon-heart"></span>
                    <div class="featured-countdown">
                      <span
                        class="js-countdown"
                        data-timer="7500"
                        data-labels="d,h,m,s"
                      ></span>
                    </div>
                    <div class="button-place-bid">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#popup_bid"
                        class="tf-button"
                        ><span>Place Bid</span></a
                      >
                    </div>
                  </div>
                  <h5 class="name">
                    <a href="nft-detail-2.html">Dayco serpentine belt</a>
                  </h5>
                  <div class="author flex items-center">
                    <div class="avatar">
                      <img
                        src="assets/images/avatar/avatar-box-06.jpg"
                        alt="Image"
                      />
                    </div>
                    <div class="info">
                      <span>Posted by:</span>
                      <h6><a href="author-2.html">Cody Fisher</a></h6>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="meta-info flex items-center justify-between">
                    <span class="text-bid">Current Bid</span>
                    <h6 class="price gem"><i class="icon-gem"></i>0,34</h6>
                  </div>
                </div>
              </div>
              <div
                data-wow-delay="0.2s"
                class="wow fadeInUp col-xl-3 col-lg-4 col-md-6 col-sm-6"
              >
                <div class="tf-card-box style-1">
                  <div class="card-media">
                    <a href="#">
                      <img
                        src="assets/images/box-item/card-item-03.jpg"
                        alt=""
                      />
                    </a>
                    <span class="wishlist-button icon-heart"></span>
                    <div class="featured-countdown">
                      <span
                        class="js-countdown"
                        data-timer="7500"
                        data-labels="d,h,m,s"
                      ></span>
                    </div>
                    <div class="button-place-bid">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#popup_bid"
                        class="tf-button"
                        ><span>Place Bid</span></a
                      >
                    </div>
                  </div>
                  <h5 class="name">
                    <a href="nft-detail-2.html">Dayco serpentine belt</a>
                  </h5>
                  <div class="author flex items-center">
                    <div class="avatar">
                      <img
                        src="assets/images/avatar/avatar-box-07.jpg"
                        alt="Image"
                      />
                    </div>
                    <div class="info">
                      <span>Posted by:</span>
                      <h6><a href="author-2.html">Cody Fisher</a></h6>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="meta-info flex items-center justify-between">
                    <span class="text-bid">Current Bid</span>
                    <h6 class="price gem"><i class="icon-gem"></i>0,34</h6>
                  </div>
                </div>
              </div>
              <div
                data-wow-delay="0.2s"
                class="wow fadeInUp col-xl-3 col-lg-4 col-md-6 col-sm-6"
              >
                <div class="tf-card-box style-1">
                  <div class="card-media">
                    <a href="#">
                      <img
                        src="assets/images/box-item/card-item-04.jpg"
                        alt=""
                      />
                    </a>
                    <span class="wishlist-button icon-heart"></span>
                    <div class="featured-countdown">
                      <span
                        class="js-countdown"
                        data-timer="7500"
                        data-labels="d,h,m,s"
                      ></span>
                    </div>
                    <div class="button-place-bid">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#popup_bid"
                        class="tf-button"
                        ><span>Place Bid</span></a
                      >
                    </div>
                  </div>
                  <h5 class="name">
                    <a href="nft-detail-2.html">Dayco serpentine belt</a>
                  </h5>
                  <div class="author flex items-center">
                    <div class="avatar">
                      <img
                        src="assets/images/avatar/avatar-box-01.jpg"
                        alt="Image"
                      />
                    </div>
                    <div class="info">
                      <span>Posted by:</span>
                      <h6><a href="author-2.html">Cody Fisher</a></h6>
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="meta-info flex items-center justify-between">
                    <span class="text-bid">Current Bid</span>
                    <h6 class="price gem"><i class="icon-gem"></i>0,34</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tf-section create-sell">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-md-12">
                <div class="heading-section justify-content-center">
                  <h2 class="tf-title pb-30">
                    Step by step Create and Sell Your NFTs
                  </h2>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="tf-box-icon relative text-center">
                  <div class="image">
                    <img src="assets/images/box-icon/icon-01.png" alt="" />
                    <p>Step 1</p>
                  </div>
                  <h4 class="heading">
                    <a href="contact-us.html">Set Up Your Wallet</a>
                  </h4>
                  <p class="content">
                    Fusce non dignissim velit, sit amet semper eros. Quisque
                    orci est
                  </p>
                  <div class="arrow">
                    <svg
                      width="114"
                      height="114"
                      viewBox="0 0 114 114"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_625_20131)">
                        <path
                          d="M13.0682 58.6163C14.3723 57.8473 15.7186 57.1206 17.0509 56.436L16.1333 54.65C14.7448 55.3625 13.3845 56.1032 12.0524 56.9002L13.0683 58.6444L13.0682 58.6163ZM21.1465 54.4527C22.5352 53.8244 23.9381 53.2383 25.3551 52.6944L24.6057 50.8245C23.1607 51.3965 21.7298 51.9825 20.313 52.6107L21.1324 54.4386L21.1465 54.4527ZM29.6344 51.1469C31.0797 50.6592 32.5251 50.2277 33.9986 49.8244L33.4458 47.8989C31.9582 48.3162 30.4707 48.7616 28.9974 49.2493L29.6344 51.1469ZM38.4195 48.6986C39.9073 48.3656 41.3952 48.0606 42.8972 47.7977L42.5408 45.8166C41.0107 46.0793 39.4948 46.3842 37.9649 46.7312L38.4195 48.6986ZM47.4036 47.1216C48.9199 46.929 50.4222 46.7786 51.9527 46.6563L51.7788 44.6615C50.2202 44.7838 48.6898 44.9342 47.1455 45.1267L47.4036 47.1216ZM56.5024 46.4156C58.019 46.3635 59.5498 46.3536 61.0666 46.3857L61.0753 44.3774C59.5164 44.3592 57.9715 44.3551 56.4128 44.4211L56.4884 46.4297L56.5024 46.4156ZM65.6314 46.5524C67.1485 46.6407 68.6656 46.7852 70.1829 46.9578L70.4022 44.9641C68.8569 44.7915 67.2977 44.6609 65.7526 44.5725L65.6315 46.5805L65.6314 46.5524ZM74.7067 47.5598C76.2101 47.8025 77.7135 48.0734 79.203 48.3863L79.591 46.4212C78.0734 46.1082 76.5278 45.8232 74.9963 45.5803L74.6927 47.5738L74.7067 47.5598ZM83.6578 49.4235C85.1335 49.8066 86.5952 50.2319 88.057 50.6852L88.6418 48.7767C87.1659 48.3093 85.648 47.8839 84.1582 47.4867L83.6578 49.4235ZM92.3866 52.1574C93.8064 52.6808 95.2405 53.2464 96.6465 53.84L97.428 51.9883C95.9938 51.3665 94.5458 50.8149 93.0978 50.2633L92.4147 52.1574L92.3866 52.1574ZM100.795 55.7471C102.159 56.4108 103.509 57.1166 104.845 57.8645L105.809 56.1116C104.445 55.3636 103.067 54.6296 101.661 53.9517L100.795 55.7471Z"
                          fill="#919191"
                        />
                        <path
                          d="M95.5845 61.1824L95.0597 59.2569L104.589 56.6842L101.292 47.336L103.186 46.681L107.205 58.0676L95.5845 61.1824Z"
                          fill="#919191"
                        />
                        <circle
                          cx="8.69433"
                          cy="59.7296"
                          r="3.91825"
                          transform="rotate(-135 8.69433 59.7296)"
                          stroke="#919191"
                          stroke-width="2"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_625_20131">
                          <rect
                            width="76.2328"
                            height="83.6102"
                            fill="white"
                            transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 113.026 54.5132)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="tf-box-icon relative text-center type-1">
                  <div class="image">
                    <img src="assets/images/box-icon/icon-02.png" alt="" />
                    <p>Step 2</p>
                  </div>
                  <h4 class="heading">
                    <a href="contact-us.html">Create your collection</a>
                  </h4>
                  <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque luctus
                  </p>
                  <div class="arrow">
                    <svg
                      width="114"
                      height="114"
                      viewBox="0 0 114 114"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_625_20131)">
                        <path
                          d="M13.0682 58.6163C14.3723 57.8473 15.7186 57.1206 17.0509 56.436L16.1333 54.65C14.7448 55.3625 13.3845 56.1032 12.0524 56.9002L13.0683 58.6444L13.0682 58.6163ZM21.1465 54.4527C22.5352 53.8244 23.9381 53.2383 25.3551 52.6944L24.6057 50.8245C23.1607 51.3965 21.7298 51.9825 20.313 52.6107L21.1324 54.4386L21.1465 54.4527ZM29.6344 51.1469C31.0797 50.6592 32.5251 50.2277 33.9986 49.8244L33.4458 47.8989C31.9582 48.3162 30.4707 48.7616 28.9974 49.2493L29.6344 51.1469ZM38.4195 48.6986C39.9073 48.3656 41.3952 48.0606 42.8972 47.7977L42.5408 45.8166C41.0107 46.0793 39.4948 46.3842 37.9649 46.7312L38.4195 48.6986ZM47.4036 47.1216C48.9199 46.929 50.4222 46.7786 51.9527 46.6563L51.7788 44.6615C50.2202 44.7838 48.6898 44.9342 47.1455 45.1267L47.4036 47.1216ZM56.5024 46.4156C58.019 46.3635 59.5498 46.3536 61.0666 46.3857L61.0753 44.3774C59.5164 44.3592 57.9715 44.3551 56.4128 44.4211L56.4884 46.4297L56.5024 46.4156ZM65.6314 46.5524C67.1485 46.6407 68.6656 46.7852 70.1829 46.9578L70.4022 44.9641C68.8569 44.7915 67.2977 44.6609 65.7526 44.5725L65.6315 46.5805L65.6314 46.5524ZM74.7067 47.5598C76.2101 47.8025 77.7135 48.0734 79.203 48.3863L79.591 46.4212C78.0734 46.1082 76.5278 45.8232 74.9963 45.5803L74.6927 47.5738L74.7067 47.5598ZM83.6578 49.4235C85.1335 49.8066 86.5952 50.2319 88.057 50.6852L88.6418 48.7767C87.1659 48.3093 85.648 47.8839 84.1582 47.4867L83.6578 49.4235ZM92.3866 52.1574C93.8064 52.6808 95.2405 53.2464 96.6465 53.84L97.428 51.9883C95.9938 51.3665 94.5458 50.8149 93.0978 50.2633L92.4147 52.1574L92.3866 52.1574ZM100.795 55.7471C102.159 56.4108 103.509 57.1166 104.845 57.8645L105.809 56.1116C104.445 55.3636 103.067 54.6296 101.661 53.9517L100.795 55.7471Z"
                          fill="#919191"
                        />
                        <path
                          d="M95.5845 61.1824L95.0597 59.2569L104.589 56.6842L101.292 47.336L103.186 46.681L107.205 58.0676L95.5845 61.1824Z"
                          fill="#919191"
                        />
                        <circle
                          cx="8.69433"
                          cy="59.7296"
                          r="3.91825"
                          transform="rotate(-135 8.69433 59.7296)"
                          stroke="#919191"
                          stroke-width="2"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_625_20131">
                          <rect
                            width="76.2328"
                            height="83.6102"
                            fill="white"
                            transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 113.026 54.5132)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="tf-box-icon relative text-center">
                  <div class="image">
                    <img src="assets/images/box-icon/icon-03.png" alt="" />
                    <p>Step 3</p>
                  </div>
                  <h4 class="heading">
                    <a href="contact-us.html">Add your NFTs</a>
                  </h4>
                  <p class="content">
                    Suspendisse porttitor id est non accumsan. Cras vel viverra
                    velit
                  </p>
                  <div class="arrow">
                    <svg
                      width="114"
                      height="114"
                      viewBox="0 0 114 114"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_625_20131)">
                        <path
                          d="M13.0682 58.6163C14.3723 57.8473 15.7186 57.1206 17.0509 56.436L16.1333 54.65C14.7448 55.3625 13.3845 56.1032 12.0524 56.9002L13.0683 58.6444L13.0682 58.6163ZM21.1465 54.4527C22.5352 53.8244 23.9381 53.2383 25.3551 52.6944L24.6057 50.8245C23.1607 51.3965 21.7298 51.9825 20.313 52.6107L21.1324 54.4386L21.1465 54.4527ZM29.6344 51.1469C31.0797 50.6592 32.5251 50.2277 33.9986 49.8244L33.4458 47.8989C31.9582 48.3162 30.4707 48.7616 28.9974 49.2493L29.6344 51.1469ZM38.4195 48.6986C39.9073 48.3656 41.3952 48.0606 42.8972 47.7977L42.5408 45.8166C41.0107 46.0793 39.4948 46.3842 37.9649 46.7312L38.4195 48.6986ZM47.4036 47.1216C48.9199 46.929 50.4222 46.7786 51.9527 46.6563L51.7788 44.6615C50.2202 44.7838 48.6898 44.9342 47.1455 45.1267L47.4036 47.1216ZM56.5024 46.4156C58.019 46.3635 59.5498 46.3536 61.0666 46.3857L61.0753 44.3774C59.5164 44.3592 57.9715 44.3551 56.4128 44.4211L56.4884 46.4297L56.5024 46.4156ZM65.6314 46.5524C67.1485 46.6407 68.6656 46.7852 70.1829 46.9578L70.4022 44.9641C68.8569 44.7915 67.2977 44.6609 65.7526 44.5725L65.6315 46.5805L65.6314 46.5524ZM74.7067 47.5598C76.2101 47.8025 77.7135 48.0734 79.203 48.3863L79.591 46.4212C78.0734 46.1082 76.5278 45.8232 74.9963 45.5803L74.6927 47.5738L74.7067 47.5598ZM83.6578 49.4235C85.1335 49.8066 86.5952 50.2319 88.057 50.6852L88.6418 48.7767C87.1659 48.3093 85.648 47.8839 84.1582 47.4867L83.6578 49.4235ZM92.3866 52.1574C93.8064 52.6808 95.2405 53.2464 96.6465 53.84L97.428 51.9883C95.9938 51.3665 94.5458 50.8149 93.0978 50.2633L92.4147 52.1574L92.3866 52.1574ZM100.795 55.7471C102.159 56.4108 103.509 57.1166 104.845 57.8645L105.809 56.1116C104.445 55.3636 103.067 54.6296 101.661 53.9517L100.795 55.7471Z"
                          fill="#919191"
                        />
                        <path
                          d="M95.5845 61.1824L95.0597 59.2569L104.589 56.6842L101.292 47.336L103.186 46.681L107.205 58.0676L95.5845 61.1824Z"
                          fill="#919191"
                        />
                        <circle
                          cx="8.69433"
                          cy="59.7296"
                          r="3.91825"
                          transform="rotate(-135 8.69433 59.7296)"
                          stroke="#919191"
                          stroke-width="2"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_625_20131">
                          <rect
                            width="76.2328"
                            height="83.6102"
                            fill="white"
                            transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 113.026 54.5132)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="tf-box-icon relative text-center">
                  <div class="image">
                    <img src="assets/images/box-icon/icon-04.png" alt="" />
                    <p>Step 4</p>
                  </div>
                  <h4 class="heading">
                    <a href="contact-us.html">Sell your NFTs</a>
                  </h4>
                  <p class="content">
                    Maecenas non semper quam. Vivamus et arcu condimentum ipsum
                    consectetur
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tf-section action">
          <div class="themesflat-container">
            <div class="row">
              <div class="col-md-12">
                <div class="action__body">
                  <div class="tf-tsparticles">
                    <div
                      id="tsparticles1"
                      data-color="#161616"
                      data-line="#000"
                    ></div>
                  </div>
                  <h2>Discover, create and sell your own NFT</h2>
                  <div class="flat-button flex">
                    <a href="#" class="tf-button style-2 h50 w190 mr-10"
                      >Explore now<i class="icon-arrow-up-right2"></i
                    ></a>
                    <a href="#" class="tf-button style-2 h50 w230"
                      >Create your first NFT<i class="icon-arrow-up-right2"></i
                    ></a>
                  </div>
                  <div class="bg-home7">
                    <div
                      class="swiper-container autoslider3reverse"
                      data-swiper='{
                                      "loop":true,
                                      "slidesPerView": "auto",
                                      "spaceBetween": 14,
                                      "direction": "vertical",
                                      "speed": 10000,
                                      "observer": true,
                                      "observeParents": true,
                                      "autoplay": {
                                          "delay": "0",
                                          "disableOnInteraction": false
                                      }
                                  }'
                    >
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img
                            src="assets/images/item-background/bg-action-1.png"
                            alt=""
                          />
                        </div>
                        <div class="swiper-slide">
                          <img
                            src="assets/images/item-background/bg-action-1.png"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      class="swiper-container autoslider4reverse"
                      data-swiper='{
                                      "loop":true,
                                      "slidesPerView": "auto",
                                      "spaceBetween": 14,
                                      "direction": "vertical",
                                      "speed": 10000,
                                      "observer": true,
                                      "observeParents": true,
                                      "autoplay": {
                                          "delay": "0",
                                          "disableOnInteraction": false,
                                          "reverseDirection": true
                                      }
                                  }'
                    >
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img
                            src="assets/images/item-background/bg-action-1.png"
                            alt=""
                          />
                        </div>
                        <div class="swiper-slide">
                          <img
                            src="assets/images/item-background/bg-action-1.png"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      class="swiper-container autoslider3reverse"
                      data-swiper='{
                                      "loop":true,
                                      "slidesPerView": "auto",
                                      "spaceBetween": 14,
                                      "direction": "vertical",
                                      "speed": 10000,
                                      "observer": true,
                                      "observeParents": true,
                                      "autoplay": {
                                          "delay": "0",
                                          "disableOnInteraction": false
                                      }
                                  }'
                    >
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img
                            src="assets/images/item-background/bg-action-1.png"
                            alt=""
                          />
                        </div>
                        <div class="swiper-slide">
                          <img
                            src="assets/images/item-background/bg-action-1.png"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('./partials/footer') %>
      </div>
    </div>

    <%- include('./components/progress-wrap.ejs') %><br />
    <%- include('./partials/foot.ejs') %>
  </body>
</html>
